@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rationale&display=swap');
body {
    background-color: rgb(226, 226, 226);
    font-family: 'Rationale', sans-serif;
}
header#cabecalhoBackground {
    height: 50px;
    background: rgb(190, 190, 190);
    margin: -8px -8px 0px -8px;
}
header#cabecalho {
    font-family: 'Black Ops One', cursive;
    text-align: center;
    color: rgb(0, 45, 141);
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    user-select: none;
    z-index: 5;
}
div.cabecalhoButtons {
    font-size: 200%;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
div.cabecalhoButtons:hover {
    background: rgba(36, 39, 48, 0.25);
}
div.cabecalhoButtons:active {
    background: rgba(36, 39, 48, 0.5);
}
div#niveis {
    transform: rotate(90deg);
    position: fixed;
    left: 0;
    top: -5px;
    padding-top: 10px;
}
h1#nomeSite {
    color: rgb(40, 108, 255);
    margin: 5px;
}
h1#nomeSite a {
    text-decoration: none;
    color: rgb(40, 108, 255);
}
h1#nomeSite span {
    color: rgb(0, 45, 141);
}
aside#menu {
    position: fixed;
    text-align: center;
    left: 0;
    display: none;
    background: repeating-linear-gradient(135deg, white, white 90%, rgba(0,0,0,0) 1px, rgba(0,0,0,0));
    user-select: none;
    cursor: pointer;
}
aside#menu a {
    text-decoration: none;
}
div.menuItem {
    padding: 15px 0px 15px 0px;
    color: black;
    border-top: 1px solid black;
    min-width: 100px;
}
div.menuItem:hover {background: rgba(0, 0, 0, 0.1);}
div.menuItem:active {background: rgba(0,0,0,0.2);}
div.menuItem h3 {
    margin: 0;
}
div.tema {
    width: 50%;
    display: inline-block;
    padding: 15px 0px 15px 0px;
    margin: -15px 0px -15px 0px;
}
div#temaWhite:active, div#temaDark:active {
    background: rgb(131, 131, 131);
}
div#temaWhite {
    background: white;
    color: black;
}
div#temaDark {
    background: rgb(36,39,48);
    color: white;
}
div#regrasMenu:hover {background: repeating-linear-gradient(135deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1) 87%, rgba(0,0,0,0) 1px, rgba(0,0,0,0));}
div#regrasMenu:active {background: repeating-linear-gradient(135deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 87%, rgba(0,0,0,0) 1px, rgba(0,0,0,0));}
section#corpo {
    margin: 0px 5% 5% 5%;
    border-right: 5px solid rgb(0, 81, 255);
}
h1#corpoTitulo {
    font-size: 2em;
    text-align: right;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    background: repeating-linear-gradient(315deg, white, white 230px, rgba(0,0,0,0) 1px, rgba(0,0,0,0) 100%);
    margin: 0;
}
div#conteudo {
    background: repeating-linear-gradient(135deg, rgba(0,0,0,0), rgba(0,0,0,0) 5vw, white 1px, white 100%);
    text-align: center;
    padding-top: 5%;
}