div#gameOver {
    display: none;
    background: rgba(0,0,0,0.5);
    width: 200vw;
    height: 200vh;
    position: fixed;
    margin-left: -8px;
}
div#gameOver h1{
    text-align: center;
    position: fixed;
    top: 20vh;
    bottom: 0px;
    color: white;
    left: 0;
    right: 0;
    font-size: 10vw;
    vertical-align: baseline;
    margin: 0;
    font-family: 'Black Ops One', cursive;
    text-shadow: 5px 5px 10px black;
}
div#gameOver h1 p {
    font-size: 2vw;
    font-family: 'Rationale', sans-serif;
    text-shadow: 5px 5px 10px black;
}
div#restart div:active {
    transform: rotate(90deg);
    transition: 150ms;
}
div#cincos {
    height: 5px;
    background: orangered;
}

nav#navbar {
    margin-left: -8px;
    font-size: 1.2em;
    width: max-content;
    padding: 20px 120px 20px 20px;
    background: repeating-linear-gradient(135deg, white, white 69%, rgba(0,0,0,0) 1px, rgba(0,0,0,0) 100%);
}
div#cronometro {
    position: fixed;
    right: 50px;
    top: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}
div#restart {
    position: fixed;
    top: 0;
    right: 0px;
    padding-top: 5px;
    height: 45px;
    color: rgb(0, 45, 141);
}
div.menuItem div#seta, div.menuItem div#seta2 {
    text-align: right;
    margin-top: -22px;
    margin-left: 140px;
    margin-right: 15px;
    display: block;
    width: 9px;
}
div#escolhaDificuldadeMenu {
    position: fixed;
    background: repeating-linear-gradient(135deg, white, white 90%, rgba(0,0,0,0) 1px, rgba(0,0,0,0) 100%);
    top: 50px;
    left: 156px;
    display: none;
}
a.linkEscDifMenu {
    text-decoration: none;
}
div.escolhaDificuldadeMenu {
    padding: 17px 30px 17px 30px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    display: inline-block;
    color: black;
}
div.escolhaDificuldadeMenu:hover {
    background: rgba(0, 0, 0, 0.1);
}
div.escolhaDificuldadeMenu:active {
    background: rgba(0,0,0,0.2);
}
div#escDifMenuDificil:hover {
    background: repeating-linear-gradient(135deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1) 77%, rgba(0,0,0,0) 1px, rgba(0,0,0,0) 100%);
}
div.escolhaDificuldadeMenu h4 {
    margin: 0;
}
div#tipoCalcMenu {
    position: fixed;
    background: repeating-linear-gradient(135deg, white, white 90%, rgba(0,0,0,0) 1px, rgba(0,0,0,0) 100%);
    top: 103px;
    left: 156px;
    display: none;
}
a.linkTipoCalc {
    color: black;
    text-decoration: none;
}
div.tipoCalc {
    display: inline-block;
    border-left: 1px solid black;
    border-top: 1px solid black;
}
div.tipoCalc:hover {
    background: rgba(0, 0, 0, 0.1);
}
div.tipoCalc:active {
    background: rgba(0,0,0,0.2);
}
div.tipoCalc h1 {
    margin: 0;
    font-size: 2em;
    padding: 8px 10px 8px 10px;
}
div.tipoCalc h3 {
    margin: 0;
    padding: 12px 10px 12px 10px;
}
h1#corpoTitulo {
    padding-right: 80px;
}
div#conteudo {
    padding-bottom: 5%;
    font-weight: bold;
    user-select: none;
}
div#botaoIniciar {
    padding: 15px;
    background: green;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0px 0px 10px black;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
div#botaoIniciar:active {
    box-shadow: 0px 0px 15px green;
    transition: 150ms;
}

div.alternativa {
    padding: 10px;
    background: grey;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}