div#gameOver {
    display: none;
}

div#gameOver img {
    width: 1500vmax;
    position: fixed;
    margin-left: -10px;
}
div#gameOver h1{
    text-align: center;
    position: fixed;
    top: 35vh;
    bottom: 0px;
    color: white;
    left: 0;
    right: 0;
    font-size: 10vw;
    vertical-align: baseline;
    margin: 0;
    font-family: 'Black Ops One', cursive;
}
div#gameOver h1 p {
    font-size: 5vw;
}
nav#navbar {
    margin-left: -8px;
    font-size: 1.2em;
    width: max-content;
    padding: 20px 120px 20px 20px;
    background: repeating-linear-gradient(135deg, white, white 69%, rgba(0,0,0,0) 1px, rgba(0,0,0,0) 100%);
}
div#cronometroLine {
    height: 3px;
    background: orangered;
}
div#tipoCalculo {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 5px;
    height: 45px;
}
div.menuItem div#seta {
    text-align: right;
    margin-left: 30px;
    margin-right: -15px;
    display: inline-block;
}
div#escolhaDificuldadeMenu {
    position: fixed;
    background: repeating-linear-gradient(135deg, white, white 90%, rgba(0,0,0,0) 1px, rgba(0,0,0,0) 100%);
    top: 50px;
    left: 156px;
    display: none;
}
a.linkEscDifMenu {
    text-decoration: none;
}
div.escolhaDificuldadeMenu {
    padding: 17px 30px 17px 30px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    display: inline-block;
    margin-left: -5px;
    color: black;
}
div.escolhaDificuldadeMenu:hover {
    background: rgba(0, 0, 0, 0.1);
}
div.escolhaDificuldadeMenu h4 {
    margin: 0;
}
h1#corpoTitulo {
    padding-right: 80px;
}
div#conteudo {
    padding-bottom: 5%;
    font-weight: bold;
}
div#botaoIniciar {
    padding: 15px;
    background: rgb(0, 202, 0);
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0px 0px 10px green;
    font-family: Arial, Helvetica, sans-serif;
}
div#botaoIniciar:active {
    box-shadow: 0px 0px 15px green;
    transition: 150ms;
}
div#segundoNumero {
    padding: 15px;
    background: green;
    border-radius: 5px;
    display: none;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
div.alternativa {
    padding: 10px;
    background: grey;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}