nav#navbar {
    margin-left: -8px;
    font-size: 1.2em;
    width: max-content;
    padding: 20px 120px 20px 20px;
    background: repeating-linear-gradient(135deg, white, white 69%, rgba(0,0,0,0) 1px, rgba(0,0,0,0) 100%);
}
h1#corpoTitulo {
    padding-right: 80px;
}
div#conteudo {
    text-align: justify;
    padding: 5%;
    padding-left: 8%;
    font-size: 1.2em;
}
div#conteudo p {
    text-indent: 50px;
}

div#exemplo1 div.selectDificuldadeEx {
    color: white;
    text-shadow: 0px 0px 5px black;
    padding: 10px 50px 10px 50px;
    background: grey;
    border-radius: 20000px;
    margin-left: 3%;
    margin-right: 3%;
    display: inline-block;
    margin-bottom: 3%;
    border: 2px solid rgba(0,0,0,0);
}

div#exemplo1 div.selectDificuldadeEx h1{
    margin: 0;
}

div#exemplo1 div#selDifFacilEx {background: rgb(0, 187, 0);}
div#exemplo1 div#selDifMedioEx {background: rgb(255, 217, 0);}
div#exemplo1 div#selDifDificilEx {background: red;}


img.imgExemplo {
    width: 50%;
}
img#imgExemplo5 {
    width: 20%;
}